.outer{
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    transition: 500ms;
    background-color: #a47c9c2c;
    cursor: pointer;
}

#selected{
    box-shadow: 0.5rem 0.5rem 2rem 0rem rgba(0, 0, 0, 0.605);
    transform: scale(1.1,1.1);
}

.outer img{
   width: 4rem;
   height: 4rem;
   margin: 0.5rem;
}

#title{
    text-align: center;
    font-family:Helvetica;
    margin: 0.5rem;
}

.outer:hover{
    box-shadow: 0.5rem 0.5rem 2rem 0rem rgba(0, 0, 0, 0.605);
    transform: scale(1.1,1.1);
}


