#outerDiv{
    background-color: #e7d9e88d;
    border-radius: 5px;
    height: 150px;
    position: absolute;
    padding: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0px 5px 10px 0px #e7d9e8;
    border: #d9ccda;
    z-index: 2;
    line-height: 1.2;
}

#outerDiv a{
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#outerDiv a:hover{
    color: #1203e9b0;
}