.login1 {
    font-family: sans-serif;
     display: flex;
     /* align-items: center; */
    /*justify-content: center;  */
    flex-direction: column;
    gap: 10px;
    height: 30vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  } 

 
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-left: -285px; 
  }
  .btn4{
    color: black;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    padding:4px;
    margin: 5px 20px;  
    }
    .btn3{
        color: black;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    padding: 4px;
    margin: 5px 20px;
    }
  
  .form1 {
    
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 2.25;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  input[type="submit"] {
    margin-top: 10px;
     margin-bottom:-18px; 
    cursor: pointer;
    font-size: 13px;
    background: #01d28e;
    border: 0.5px solid #01d28e;

    color: #fff;
    padding: 8px 10px ;
    align-items:flex;
  }
  
  .input-container {
    
    margin-right: 3.7px;
  }
  