.inp{
   border: none;
   outline: none;
   border-radius: 20px;
   padding-left: 10px;
   font-size: 15px;
   width: 155px;
}

#outerDiv{
   display: flex;
   width: 200px;
   height: 30px;
   background-color: white;
   border-radius: 20px;
}

#outerDiv img{
   padding-top: 3px;
   cursor: pointer;
   height: 25px;
}


