#NavBar {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:max-content;
    width: auto;
    border:1px solid;
    background-color: #410b2d;
    border-radius: 0%;
    
  }

  #profile{
    margin-left: 65px;
    margin-right: 65px;
    align-items: center;
    display: flex;
  }