#OuterDiv{
    display: flex;
    background-color: white;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    max-width:200px;
    height: 35px;
    margin: 2px;
    cursor: pointer;
}
#name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 10px;
}


#OuterDiv:hover{
   transform:scale(1.05,1.05);
   transition: 500ms;
}
